@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?-i6l90x')
  font-weight normal
  font-style normal

body
  background-image url(../imagenes/fondo.jpg)

#intro
  background-image url(../imagenes/intro.jpg)
  background-repeat no-repeat
  background-size 100% 100%
  padding-bottom 150px
  margin-top -20px
  figure
    height 370px
    margin-left 21em
    padding-top 4em
    width 610px
  img
    height 370px
    width 610px
  #iconosPrincipales
    background-color rgba(231,227,224, 0.5)
    border-radius 15px
    margin-left 67%
    margin-top 5%
    padding 20px 15px
    width 310px

.flechita_intro
  position absolute
  margin 150px 0 0 500px

#iniciarSesion h4, #registrar h4
  color #278e00
  font-size 40px
  font-weight bold
  text-align center

/** --- **/
header
  #nav_bar
    -moz-box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    -ms-box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    -webkit-box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    background-image url(../imagenes/navbar.jpg)
    background-repeat no-repeat
    background-size 100% 100%
    box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    height 70px
    z-index 9999
    
    ul
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -webkit-transition: 0.5s;
      list-style: none;
      transition: 0.5s;

      li
        display inline-block
        margin 0px
        a
          color #A64A00
          font-size 16px
          font-weight strong
          margin-left 0.5em
          padding 1.21em 15px
          &:hover
            background-color rgba(255,113,0, 0.8)
            color white
    
    #imagenIzquierda
      margin-left 15em
      width 50px
    
    #figuraNav
      margin-top 0px
      border-radius 10px
      
      img
        width 40px      

    #imagenIzquierda, ul
      display inline-block

#nav_bar ul li .palmeraImagen, #nav_bar ul li a
  display inline-block

.palmeraImagen
  img
    width 30px

.navbar-fixed
  position fixed
  top 0
  width 100%

.moverNav
  -ms-transform: translate(5.5em,0px);
  -moz-transform: translate(5.5em,0px);
  -webkit-transform: translate(5.5em,0px);
  transform: translate(5.5em,0px);

/** --- **/

section
  background white
  margin 0 auto
  width 1100px

#articuloInicio #textoInicio, #articuloInicio #carousel-example-generic
  display inline-block

#articuloInicio
  #textoInicio
    font-family 'Delius Swash Caps', cursive
    font-size 1.3em
    padding 10px
    text-align justify
    margin-left 4em
    width 400px
    border-radius 15px
    #tituloInicio
      text-shadow 5px 5px 40px black
  #imagenInicio
    width 200px

.parrafoSlider
  font-weight bold
  color #000
  background rgba(255,255,255,0.5)

#slider
  border-radius 15px
  box-shadow 5px 5px 15px black
  margin-left 2em
  margin-top 3em
  width 480px

#articuloCatalogo
  #tituloCatalogo
    text-shadow 5px 5px 40px black
    margin-left 2.5em
  #box3
    margin-left 3em
    width 250px
  #nombreHotel
    text-align center
  #contenido_hotel
    margin-left 10px
    padding 10px
    text-align justify
    width 400px
  #informacionHotel
    padding 10px

.img_hotel
  width 350px
  height 350px
  border-radius 15px

#articuloCatalogo #contenido_hotel, #articuloCatalogo #img_hotel
  display inline-block
  vertical-align middle

#articuloCatalogo #box3, #articuloCatalogo #informacionHotel
  display inline-block
  vertical-align middle

#frmCombos
  figure
    width 60px
    margin 0 auto

#articuloPromociones
  #tituloPromociones
    text-shadow 5px 5px 40px black
    margin-left 2.5em

.capasPromociones
  display inline-block
  margin-left 30px
  margin-top 20px
  vertical-align top
  width 500px

.titPromocion
  padding 10px 0px
  text-align center

.contenidoPromocion
  padding 20px

.datosPromocion
  font-weight bold

.imagenesPromociones
  text-align center
  width 460px

#btnMasInfo
  text-align right
  padding 10px

#articuloNosotros
  #textoNosotros
    font-family 'Delius Swash Caps', cursive
    font-size 18px
    padding 10px
    margin-left 2em
    text-align justify
    width 450px
    border-radius 15px
    #tituloNosotros
      text-shadow 5px 5px 40px black
  #imagenNosotros
    width 500px
    figure
      img
        border-radius 50px
        margin-left 5em
        box-shadow 5px 5px 15px black
        width 300px

#articuloNosotros #textoNosotros, #articuloNosotros #imagenNosotros
  display inline-block
  vertical-align middle

#articuloContactanos
  padding-bottom 80px
  #tituloContactanos
    margin-left 2.5em
    text-shadow 5px 5px 40px black
  #tabsContactanos
    margin 0 auto
    width 600px
  #seccionTab
    border 1px #eef0f6 solid
    background #eef0f6
  #imagenContactanos
    margin-left 35px
    img
      width 200px
  #email
    padding 25px
    #emailAjuste
      #enviar
        text-align right

#articuloContactanos #informacion,
#articuloContactanos #imagenContactanos
  padding 35px
  display inline-block
  vertical-align top

#iconosRedes
  text-align right
  padding-right 10%
  .facebook
    font-family 'icomoon'
    font-size 2.5em
    color #3B5998
    margin-left 3em
    &:after
    &:hover
      text-decoration none
      color #8b9dc3
      -moz-transition 0.3s linear
      -o-transition 0.3s linear
      -webkit-transition 0.3s linear
      transition 0.3s linear

.separador
  height 90px
  text-align center
  img
    height 5px
    width 1000px

.colorLetras
  color #267d3d

.bg-secundary
  color #fff
  background-color #7cb43b
  padding 10px
  border-radius 15px

.tabs_holder
  width 800px
  margin 0 auto

.cargando
  text-align center
  display none

/** --- **/

#articuloContactanos
  #textoContactanos
    font-size 18px
    margin 0 auto
    text-align justify
    width 900px

#container
  font-family 'Delius Swash Caps', cursive
  margin 0 auto
  input
    height 2.5em
    visibility hidden
    &:hover
    &:checked
      & + label
        position relative
        z-index 6
  label
    border-radius .25em .25em 0 0
    cursor pointer
    display block
    float left
    height 2.5em
    line-height 2.5em
    margin-right .25em
    padding 0 1.5em
    text-align center

#content
  border-radius 0 .25em .25em .25em
  position relative
  width 100%
  z-index 5
  div
    opacity 0
    padding 1.5em
    position absolute
    z-index -100
  #content-1
    #mapa
      iframe
        border-radius 15px

#content #content-1 #mapa, #content-1 #informacion
  display inline-block
  vertical-align middle

#content-1
  #informacion
    height 250px
    width 290px
  #imagenContactanos
    margin-left 80px
    img
      border-radius 10px

#content-2
  input
    visibility visible
  label
    color black

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2
  opacity 1
  z-index 100

#content-1 #informacion, #content-1 #imagenContactanos
  display inline-block
  vertical-align top


