body{
 margin:0;
 padding: 0;
}

/*header#head{
	margin: 0 auto;
	width: 800px;
	background: #90EE90;
}*/
nav{
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.055);
	color:#888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%;
}
header{
	font-size: 15px;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	/*-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;*/
}

nav > ul > li > a{
	color: #aaa;
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}
nav > ul > li:hover{
	background-color: rgb(40,44,47);
}
nav > ul > li:hover > a{
	color:rgb(255,255,255);
}

li  a:active{
	background-color: rgb(40,44,47);
	color: #fff;
}
.activo{
	background: rgb(40,44,47);
	color:#FFF;
}
.desactivado{
	background-color: #fff;
	color:#888;
}


