@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?-i6l90x')
  font-weight normal
  font-style normal

body
  background-image url(../imagenes/fondo.jpg)
  font-family 'Delius Swash Caps', cursive

section
  background white
  margin 0 auto
  width 1100px

#articuloInicio
  #textoInicio
    border-radius 15px
    font-family 'Delius Swash Caps', cursive
    margin-left 4em
    padding 10px
    text-align justify
    width 900px
  #imagenInicio
    width 200px

#articuloCatalogo
  #textoCatalogo
    margin-left 5em
    width 1000px
  #box3
    margin-left 3em
    width 250px
  #nombreHotel
    text-align center
  #contenido_hotel
    margin-left 10px
    padding 10px
    text-align justify
    width 400px
  #informacionHotel
    padding 10px

.img_hotel
  width 350px

#articuloCatalogo #contenido_hotel, #articuloCatalogo #img_hotel
  display inline-block
  vertical-align middle

#articuloCatalogo #box3, #articuloCatalogo #informacionHotel
  display inline-block
  vertical-align top

.capasPromociones
  display inline-block
  margin-left 30px
  margin-top 20px
  vertical-align top
  width 500px

.titPromocion
  padding 10px 0px
  text-align center

.contenidoPromocion
  padding 20px

.datosPromocion
  font-weight bold

.imagenesPromociones
  text-align center
  width 460px

#btnMasInfo
  padding 10px
  text-align right

#subirVaucher h4, #editPerfil h4
  color #278e00
  font-size 40px
  font-weight bold
  text-align center

.palmeraImagen
  img

.separador
  height 90px
  text-align center
  img
    height 5px
    width 1000px

.bg-secundary
  background-color #7cb43b
  border-radius 15px
  color #fff
  padding 10px

.colorLetras
  color #267d3d
  text-shadow 5px 5px 40px black

.titulosArticulos
  margin-left 2.5em
  text-shadow 5px 5px 40px black

.ajustarTexto
  font-size 16px
  text-align justify
  margin 0 auto
  width 900px

.btnDerecha
  margin 0 auto
  text-align right
  width 800px

header
  #nav_bar
    background-image url(../imagenes/navbar.jpg)
    background-repeat no-repeat
    background-size 100% 100%
    height 70px
    -ms-box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    -webkit-box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    -moz-box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    box-shadow 0px 11px 14px 0px rgba(50, 50, 50, 0.6)
    #imagenIzquierda
      margin-left 15em
      width 50px
    #figuraNav
      margin-top 0px
      border-radius 10px
      img
        width 40px
    #botoneraDerecha
      -moz-transition 0.5s
      -ms-transition 0.5s
      -webkit-transition 0.5s
      transition 0.5s
      margin-left 0em
    ul
      list-style none
      li
        display inline-block
        margin-left 3em
        a
          color #A64A00
          font-size 16px
          padding 1.5em 15px 1.25em 15px
          &:hover
            background-color rgba(255,113,0, 0.8)
            color white
            text-decoration none
        &.dropdown
          ul
            background-image url(../imagenes/fondo.jpg)
            li
              margin 5px 15px
              padding 0px
              background white
              a
                width 150px

header #nav_bar #imagenIzquierda, header #nav_bar #botoneraDerecha
  display inline-block

header #nav_bar ul li .palmeraImagen, header #nav_bar ul li a
  display inline-block

.palmeraImagen
  img
    width 25px

.navbar-fixed
  position fixed
  top 0
  width 100%

.moverNav
  -ms-transform translate(5.5em,0px)
  -moz-transform translate(5.5em,0px)
  -webkit-transform translate(5.5em,0px)
  transform translate(5.5em,0px)

