@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-i6l90x');
	src:url('../fonts/icomoon.eot?#iefix-i6l90x') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-i6l90x') format('woff'),
		url('../fonts/icomoon.ttf?-i6l90x') format('truetype'),
		url('../fonts/icomoon.svg?-i6l90x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	background-image: url(../imagenes/fondo.jpg);
	font-family: 'Delius Swash Caps', cursive;
}

/* ----- SECCIONES Y ARTÍCULOS ----- */
section
{
	background: white;
	margin:0 auto;
	width: 1100px;
}

/* ----- ESTILO INICIO ----- */


#articuloInicio #textoInicio
{
	border-radius: 15px;
	font-family: 'Delius Swash Caps', cursive;
	font-size: 18px;	
	margin-left: 4em;
	padding: 10px;
	text-align: justify;
	width: 900px;
}

#articuloInicio #imagenInicio
{
	width: 200px;
}

/* ----- ESTILO CATALOGO ----- */

#articuloCatalogo #textoCatalogo
{
	margin-left: 5em;
	width: 1000px;
}

#articuloCatalogo #box3
{
	margin-left: 3em;
	width: 250px;
}

#articuloCatalogo #nombreHotel
{
	text-align: center;
}

#articuloCatalogo #contenido_hotel
{
	margin-left: 10px;
	padding: 10px;
	text-align: justify;
	width: 400px;
}

.img_hotel
{
	width: 350px;
}

#articuloCatalogo #contenido_hotel, #articuloCatalogo #img_hotel
{
	display: inline-block;
	vertical-align: middle;
}

#articuloCatalogo #informacionHotel
{
	padding: 10px;
}

#articuloCatalogo #box3, #articuloCatalogo #informacionHotel
{
	display: inline-block;
	vertical-align: top;
}

/* ----- ESTILO PROMOCIONES ----- */

.capasPromociones
{
	border : 1px #eef0f6 solid; 
	display : inline-block;
	margin-left: 30px;
	margin-top: 20px;
	vertical-align: top;
	width : 500px; 
}

.titPromocion
{
	padding: 10px 0px;
	text-align: center;
}

.contenidoPromocion
{
	padding: 20px;
}

.datosPromocion
{
	font-size: 17px; 
	font-weight: bold;
}

.imagenesPromociones
{
	text-align: center;
	width: 460px;
}

#btnMasInfo
{
	padding: 10px;
	text-align: right;
}

/* ----- ESTILO VAUCHER ----- */

#subirVaucher h4, #editPerfil h4 
 {
	color: #278e00;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
 }

/* ----- CLASES ----- */

.palmeraImagen img 
{
	width: 25px;	
}

.separador
{
	height: 90px;
	padding-top: 70px;	
	text-align: center;

}

.separador img 
{
	height: 5px;
	width: 1000px;
}

.bg-secundary
{
	background-color: #7cb43b;
	border-radius: 15px;
	color: #fff;
	padding: 10px;
}

.colorLetras
{
	color: #267d3d;
	text-shadow: 5px 5px 40px black;
}

.titulosArticulos
{
	margin-left : 2.5em;
	text-shadow : 5px 5px 40px black;
}

.ajustarTexto
{
	font-size: 16px;
	text-align: justify;
	margin: 0 auto;
	width: 900px;
}

.btnDerecha
{
	margin: 0 auto;
	text-align: right;
	width: 800px;
}